body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


header h1 {
    margin-top: 100px;
}

section {
    padding: 20px;
}

#auction-list, #auction-details {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#auction-list .auction-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#auction-list .auction-item:last-child {
    border-bottom: none;
}

