{% include 'header.html' %}
<main class="container" >
    <div class="row">
        <div class="col-md-12">
            <h1>Live Auctions</h1>
        </div>
        {% if products %}
        {% for product in products %}
        
        <!--<p>{{product.slug}}</p>-->
        <div class="col-md-4 mb-4">
            <div class="auction-card border shadow-sm rounded">
                <img src="{{ url_for('static', filename=product.image_file) }}" alt="Auction Item" class="item-image img-fluid rounded-top">
                <div class="auction-details p-3">
                   <a href="auction/{{product.slug}}"> <h2 class="h5">{{ product.title }}</h2></a>
                    <p class="description text-muted">{{ product.description }}</p>
                    <div class="row">
                    <div class="col-md-5">
                        <p class="current-bid">Current Bid: <strong>₹{{ product.price }}</strong></p>
                    </div>

                    <div class="col-md-6">
                    <!-- Display status -->
                    {% if product.status == 'sold' %}
                        <span style="color:red;" class="sold">Sold</span>

                    {% else %}
                        <span style="color:lightgreen;" class="selling">For Sale</span>

                            <a href="auction/{{product.slug}}"><button class="btn btn-primary btn-block">Place Bid</button></a>
                      
                    {% endif %}

                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p style="margin-top:200px;">No products found.</p>
        {% endif %}
    </div>
</main>
</body>
</html>
