{% include 'header.html' %}
<main class="container mt-4">
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="auction-card border shadow-sm rounded">
                <img src="{{ url_for('static', filename=product.image_file) }}" alt="Auction Item" class="item-image img-fluid rounded-top">
                <div class="auction-details p-3">
                    <h2 class="h5">{{ product.title }}</h2>
                    <p class="description text-muted">{{ product.description }}</p>
                    <p class="current-bid">Current Bid: <strong>${{ product.price }}</strong></p>

                    <!-- Display status -->
                    {% if product.status == 'sold' %}
                        <span style="color:red;" class="sold">Sold</span>

                    {% else %}
                        <span style="color:yellow;" class="selling">For Sale</span>
                        <form class="bid-form mt-3" action="{{ url_for('auction') }}" method="POST">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="number" name="bidprice" placeholder="Enter your bid ($)" min={{product.price+2}} required class="form-control mb-2">
                            <button type="submit" class="btn btn-primary btn-block">Place Bid</button>
                        </form>
                    {% endif %}

                    
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p style="margin-top:200px;">No products found.</p>
        {% endif %}
    </div>
</main>
</body>
</html>
